body{
    background-color: #4CC9F0;
}
.catImgs{
    width: 50%;
    margin-top: 10px;
}
.searchBar{
    text-align: center;
    padding: 10px;
}
.searchInput{
    width: 25%;
    height: 30px;
    border-radius: 8px;
    padding: 5px;
}
button{
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}
.cats{
    background-color: #4361EE;
    border-radius: 10px 0px 0px 10px;
    color: white;
}
.reset{
    background-color: #F72585;
    border-radius: 0px 10px 10px 0px;
    color: white;
}
.all{
    background-color: #3F37C9;
    color:white;
}
.starWarsPl{
    background-color: #B5179E;
    color: white;
}
.starWarsS{
    background-color: #7209B7;
    color: white;
}
.starWarsPe{
    background-color: #480CA8;
    color: white;
}
.listedName{
    color: blue;
    width: 50%;
    margin-left: 25%;
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 25px;
}
.genProfile{
    width: 100%;
}
.profTop{
    height: 49%;
    border-bottom: 2px solid black;
}
.profCaptain{
    width: 32%;
    border-right: 2px solid black;
}
.profShip{
    width: 33%;
    border-right: 2px solid black;
}
.profPlanet{
    width: 33%;
}
.profBottom{
    height: 50%;
}
.profCrew{
    width: 50%;
    border-right: 2px solid black;
}
.govCat{
    width: 49%;
}


@media only screen and (max-width: 600px) {
    .searchInput{
        width: 50%;
    }
    .listedName{
        color: blue;
        width: 90%;
        margin: auto;
    }
}